body{
    padding:0;
    margin:0;
    height:100%;
    background-color:#000000;  
    overflow-x: auto;
}
#container1{
    position:fixed;
    z-index: 10;
    display:flex;
    border-width:4px;
    padding-right: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius:50px;
    border-right:#000000;
    justify-content:right;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #E55604,#FFAB33);
    height:65px;
    color:#E55604;
    border-color:#EBE4D1;
    top:0;
    right:0;
    left:0;
}
#logo{
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    background-size:contain;
    background-repeat: no-repeat;
    font-family: 'Ravie';
    font-size: 20px;
    color:#EBE4D1;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    width:170px;
    margin-right:auto;
    
    height:60px;
    border-style: hidden;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    transform: 1s ease;
}
#logo:hover{
    transform: scale(1.1);
    padding-left:15px;
}
.btn{
    position:relative;
    border-radius: 20px;
    border-style:hidden;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding:10px;
    color:#ffffff;
    margin-right: 10px;
    transition:0.3s ease;
    /*EBE4D1*/
}
.btn:hover{
    background-color:#EBE4D1;
    color:#000000;
    cursor:pointer;
    transition:0.3s ease;
}
#container2{
    display:flex;
    flex-wrap:wrap;
    margin-top:95px;
    height: 500px;
    justify-content: space-around;
    align-items: center;
}
#box1{
    display:flex;
    justify-content: center;
    align-items: center;
}
#box0{
    display: flex;
    flex-direction: column;
    height:490px;
    width:500px;
    background-color:black;
    align-items: center;
}
#image1{
    position:relative;
    display:flex;
    flex-direction: column;
    background-image: url("images/profilePic.png");
    background-color: #000000;
    height:100px;
    width:100px;
    background-size: contain;
    height:200px;
    background-repeat: no-repeat;
    width:200px;
    border-radius: 50%;
    margin-top:20px;
}
#about{
    position:relative;
    margin-top:10px;
    height:250px;
    width:400px;
}
#head1{
    color:#EBE4D1;
    font-family: 'Roboto', sans-serif;
    transition:0.3s ease;
}
#head1:hover{
    color:#E55604;
    transition: 0.3s ease;
}
#para1{
    color:#acabaa;
    font-family: 'Roboto', sans-serif;
    font-size:17.5px;
    text-wrap:wrap;
    text-align:justify;
}
#left-arrow{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#acabaa;
    font-weight:bolder;
    width:50px;
    height:50px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    font-size: 50px;
    text-align: center;
    transition: 0.3s ease;
}
#left-arrow:hover{
    color:black;
    background-color: #acabaa;
    transition: 0.3s ease;
    cursor:pointer;
}
#right-arrow{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#acabaa;
    font-weight:bolder;
    width:50px;
    height:50px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    font-size: 50px;
    text-align: center;
    transition: 0.3s ease;
}
#right-arrow:hover{
    
    color:black;
    background-color: #acabaa;
    transition: 0.3s ease;
    cursor:pointer;
}
#box2{
    position:relative;
    height:440px;
    width:640px;
    background: linear-gradient(to right, #E55604, #FFAB33);
    border-radius:3px;
    padding:30px;
}
#header2{
    position: relative;
    text-align: center;   
}
#para2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    line-height: 1.5;
    text-wrap:wrap;
    color:#EBE4D1;
}
#container3{
    position:relative;
    padding-left:40px;
    padding-right:40px;
    display:flex;
    font-style: italic;
    flex-wrap: wrap;
    font-size: 20px;
    color:#EBE4D1;
    height:50px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    left:0;
    right:0;
    transition:2s ease;
}
#footer{
    position:fixed;
    z-index: 9;
    display:flex;
    border-top-left-radius: 50px;
    border-top-right-radius:50px;
    height: 65px;
    width:100%;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #FFAB33,#E55604 );
    flex-wrap: wrap;
    bottom:0px;
    transition:1s ease;
}
#foot1{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/github.png');
    background-size: cover;
    height:60px;
    width:60px;
    border-radius: 50%;
    transition:0.3s ease;
    animation-duration: 1000s;
}
#foot1:hover{
    background-color: #EBE4D1;   
    transition:0.3s ease;
}
#foot2{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/linkedin.png');
    background-size: cover;
    height:60px;
    width:60px;
    border-radius: 50%;
    transition:0.3s ease;
}
#foot2:hover{
    background-color:#EBE4D1;
    transition:0.3s ease;
}
#foot3{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/hackerrank.png');
    background-size: cover;
    height:60px;
    width:60px;
    border-radius: 50%;
    transition:0.3s ease;
}
#foot3:hover{
    background-image: url('images/hackerrank.png');
    background-color:#EBE4D1;
    transition:0.3s ease;
}
#foot4{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('images/instagram.png');
    background-size: cover;
    height:60px;
    width:60px;
    border-radius: 50%;
    transition:0.3s ease;
}
#foot4:hover{
    background-image: url('images/instagram.png');
    background-color:#EBE4D1;
    transition:0.3s ease;
}
/* @media (min-width:320) and (max-width: 1219px)
{
    body{
        padding:0;
        margin:0;
        height:100%;
        background-color:#000000;  
        overflow-x: auto;
        overflow-y: hidden;
    }
    #container1{
        position:fixed;
        z-index: 10;
        display:flex;
        border-width:4px;
        padding-right: 40px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius:50px;
        border-right:#000000;
        justify-content:right;
        align-items: center;
        background: linear-gradient(to right, #E55604,#FFAB33);
        height:65px;
        color:#E55604;
        border-color:#EBE4D1;
        top:0;
        right:0;
        left:0;
    }
    #logo{
        display:flex;
        position:relative;
        justify-content: center;
        align-items: center;
        background-size:contain;
        background-repeat: no-repeat;
        font-family: 'Ravie';
        font-size: 20px;
        color:#EBE4D1;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        width:170px;
        margin-right:auto;
        height:60px;
        border-style: hidden;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
    }
    .btn{
        position:relative;
        border-radius: 20px;
        border-style:hidden;
        text-align: center;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding:10px;
        color:#ffffff;
        margin-right: 10px;
        transition:0.3s ease;
        
    }
    .btn:hover{
        background-color:#EBE4D1;
        color:#000000;
        cursor:pointer;
        transition:0.3s ease;
    }
    #container2{
        display:flex;
        flex-direction: column;
        
        margin-top:86px;
        height: 500px;
        justify-content: space-around;
        align-items: center;
    }
} */